body{
    font-family: Arial, sans-serif;
    background: #fff;
    font-weight: 400;
    font-size: 100%;
    color: #333;
    height: 100%;
    background: url("../img/bg_f_3.jpg");
}
.m_helper_container {
    width: 150px;
    height: 100px;
    position: absolute;
    left: 0px;
    -webkit-transition: left 0.3s ease-in-out;
    -o-transition: left 0.3s ease-in-out;
    transition: left 0.3s ease-in-out;
}
.m_helper_text{
    padding: 10px 5% 10px 5%;
}
#menu_panel {
    background: #FFFFFF;
    width: 240px;
    height: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    text-shadow: 0 1px 1px rgba(0,0,0,0.1);
}
.js.menu_panel{
    position: absolute;
    left: -240px;
}
#main_conteiner{
    left: 240px;
    position: relative;
}
#page{
    background: white;
    margin: 0 auto;
}
